Service References/ContextBusService/Ektron.DxH.Common.Adapters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Adapters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Adapters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConnectorFlyWeight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConnectorFlyWeight" nillable="true" type="tns:ConnectorFlyWeight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConnectorFlyWeight" nillable="true" type="tns:ArrayOfConnectorFlyWeight" />
  <xs:complexType name="ConnectorFlyWeight">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectorFlyWeight" nillable="true" type="tns:ConnectorFlyWeight" />
</xs:schema>