Service References/ContextBusService/Ektron.DxH.Common.Operations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Operations" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Operations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Objects" />
  <xs:complexType name="ArrayOfOperationDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OperationDefinition" nillable="true" type="tns:OperationDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperationDefinition" nillable="true" type="tns:ArrayOfOperationDefinition" />
  <xs:complexType name="OperationDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Objects" minOccurs="0" name="InputValues" nillable="true" type="q1:ArrayOfFieldDefinition" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Objects" minOccurs="0" name="OutputValues" nillable="true" type="q2:ArrayOfFieldDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationDefinition" nillable="true" type="tns:OperationDefinition" />
  <xs:complexType name="OperationInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Objects" minOccurs="0" name="InputValues" nillable="true" type="q3:ArrayOfField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationInstance" nillable="true" type="tns:OperationInstance" />
</xs:schema>