Service References/ContextBusService/Ektron.DxH.Common.Events.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Events" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Events" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfEventDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDefinition" nillable="true" type="tns:EventDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDefinition" nillable="true" type="tns:ArrayOfEventDefinition" />
  <xs:complexType name="EventDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payload" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDefinition" nillable="true" type="tns:EventDefinition" />
  <xs:complexType name="EventInstance">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AncillaryData" nillable="true" type="q1:ArrayOfKeyValueOfstringFieldD8JHbVNL" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payload" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventInstance" nillable="true" type="tns:EventInstance" />
</xs:schema>