Service References/ContextBusService/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ektron.com/ContextBus/EventManager/" elementFormDefault="qualified" targetNamespace="http://www.ektron.com/ContextBus/EventManager/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Events" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RaiseEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Events" minOccurs="0" name="Event" nillable="true" type="q1:EventInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateWorkflowsToEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WorkflowName" nillable="true" type="q2:ArrayOfstring" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ektron.DxH.Common.Events" minOccurs="0" name="Event" nillable="true" type="q3:EventDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateWorkflowsToEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>